dev_dataset/*

data/output/*
!data/output/.gitkeep
data/output/Biome/*
!data/output/Biome/.gitkeep
data/output/SPARCS/*
!/data/output/SPARCS/.gitkeep
data/output/test_threading/Biome/*
!/data/output/test_threading/Biome/.gitkeep
data/output/test_threading/SPARCS/*
!data/output/test_threading/SPARCS/.gitkeep
data/processed/SPARCS_TOA/*
!data/processed/SPARCS_TOA/.gitkeep
data/processed/Biome_TOA/*
!data/processed/Biome_TOA/.gitkeep
data/processed/train/*
data/processed/val/*
data/processed/dev_dataset/Biome_dataset/*
!data/processed/dev_dataset/Biome_dataset/.gitkeep
data/processed/test_threading/Biome_TOA/*
!data/processed/test_threading/Biome_TOA/.gitkeep
data/raw/Biome_dataset/*
!data/raw/Biome_dataset/.gitkeep
data/raw/SPARCS_dataset/*
!data/raw/SPARCS_dataset/.gitkeep
data/raw/test_threading/*


models/Unet/*
!models/Unet/landsat8_unet_modelID240506202518-CV2of2_cls-12345_collapseFalse_bands1234567_lr1e-05_decay0_L2reg0.0001_activation_funcelu_last_layer_activation_funcsoftmax_loss_funcsparse_categorical_crossentropy.keras
!models/Unet/.gitkeep

reports/Unet/*
reports/Unet/csvlogger/*
!reports/Unet/csvlogger/.gitkeep
reports/Unet/histories/*
!reports/Unet/histories/.gitkeep
reports/Unet/tensorboard/*
!reports/Unet/tensorboard/.gitkeep

notebooks/*.img
notebooks/tar/*
!notebooks/tar/.gitkeep
notebooks/unzipped/*
notebooks/unzipped_old/*
!notebooks/unzipped/.gitkeep

reports/Unet/old/*

src/__pycache__/*
src/*.pyc
src/models/__pycache__/*

# so long ignore srcv2
srcv2/*
srcv2/__pycache__/*
!srcv2/__pycache__/.gitkeep
srcv2/*.pyc
srcv2/models/__pycache__/*

srcv2_2/__pycache__/*
!srcv2_2/__pycache__/.gitkeep
srcv2_2/*.pyc
srcv2_2/models/__pycache__/*